@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rowdies:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

// Import header
@import "./colors.scss";

// Import header
@import "./others/header.scss";

// Import heroContent
@import "./others/heroContent.scss";

// Import about
@import "./others/about.scss";

.container00 {
    background-color: $background-color;
    min-height: 100vh;

    .subTitle {
        color: #ffff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        padding: 60px 0 30px;
    }
}

